.caplaser-main-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    width: 1300px;
    margin-right: auto;
    margin-left: auto;

    .cloud {
        .caplaser-main-container-card-btn {
            background-color: #4ec3e0;
        }

        .caplaser-main-container-card-h3 {
            .title-bold {
                &:before {
                    transform: rotate(-1.5deg);
                    background-color: #4ec3e0;
                }
            }
        }

        &:hover.cloud {
            box-shadow: 0 19px 38px rgb(38 114 213 / 30%), 0 15px 12px rgb(78 195 224 / 22%);

            .caplaser-main-container-card-btn {
                box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
            }

            .caplaser-main-container-card-img { 
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    transform: scale(1.2) !important;
                }
            }
        }
    }

    .gestion {
        .caplaser-main-container-card-btn {
            background-color: #4ac263;
        }

        .caplaser-main-container-card-h3 {
            .title-bold {
                &:before {
                    transform: rotate(-1.5deg);
                    background-color: #4ac263;
                }
            }
        }

        &:hover.gestion {
            box-shadow: 0 19px 38px rgb(38 114 213 / 30%), 0 15px 12px rgb(74 194 99 / 22%);

            .caplaser-main-container-card-btn {
                box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
            }

            .caplaser-main-container-card-img { 
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    transform: scale(1.2) !important;
                }
            }
        }
    }

    .developpement {
        .caplaser-main-container-card-btn {
            background-color: #eb6fbd;
        }

        .caplaser-main-container-card-h3 {
            .title-bold {
                &:before {
                    transform: rotate(-1.5deg);
                    background-color: #eb6fbd;
                }
            }
        }

        &:hover.developpement {
            box-shadow: 0 19px 38px rgb(38 114 213 / 30%), 0 15px 12px rgb(235 111 189 / 22%);

            .caplaser-main-container-card-btn {
                box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
            }
            .caplaser-main-container-card-img { 
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    transform: scale(1.2) !important;
                }
            }
        }
    }

    .infastructure {
        .caplaser-main-container-card-btn {
            background-color: #ffa300;
        }

        .caplaser-main-container-card-h3 {
            .title-bold {
                &:before {
                    transform: rotate(-1.5deg);
                    background-color: #ffa300;
                }
            }
        }

        &:hover.infastructure {
            box-shadow: 0 19px 38px rgb(38 114 213 / 30%), 0 15px 12px rgb(255 163 0 / 22%);

            .caplaser-main-container-card-btn {
                box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
            }

            .caplaser-main-container-card-img { 
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    transform: scale(1.2) !important;
                }
            }
        }
    }

    .caplaser-main-container-card {
        color: #fff;
        background-color: #fff;
        border-bottom-right-radius: 40px;
        border: 1px solid #2672d5;
        padding: 20px 20px 60px;
        margin-top: 0 !important;
        position: relative;
        backface-visibility: hidden;
        transform: translateZ(0);
        -webkit-transition: all, ease, .3s;
        -moz-transition: all, ease, .3s;
        -ms-transition: all, ease, .3s;
        -o-transition: all, ease, .3s;
        transition: all, ease, .3s;
        width: 270px !important;
        height: 450px;

        .caplaser-main-container-card-img {
            height: 180px;
            overflow: hidden;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                transform: scale(1);
                transition: all .5s ease;
            }
        }

        .caplaser-main-container-card-h3 {
            color: #2672d5;
            font-weight: 900;
            font-size: 28px;
            line-height: 45px;
            line-height: 35px;
            text-align: left;
            margin-bottom: 0;
            letter-spacing: -1px;
            height: 110px;
        }

        .caplaser-main-container-card-h4 {
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: #2672d5;
            text-align: left;
        }

        .caplaser-main-container-card-btn {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-content: center;
            -ms-flex-line-pack: center;
            align-content: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;

            margin-top: 20px;
            position: absolute;
            bottom: 25px;
            right: 25px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            font-size: 0;
            text-decoration: none;
            transform: translateZ(0);
            -webkit-transition: all, ease, .2s;
            -moz-transition: all, ease, .2s;
            -ms-transition: all, ease, .2s;
            -o-transition: all, ease, .2s;
            transition: all, ease, .2s;

            img {
                height: 15px;
                width: 15px;
            }
        }
    }
}

.card-little {
    height: 70px !important;
}