    .caplaser-container {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        display: grid !important;
        grid-template-columns: repeat(auto-fill, 270px);
        justify-content: space-between !important;

        margin-right: auto;
        margin-left: auto;
        margin-top: 70px;
        width: 1300px;


        .gestion {
            .caplaser-container-card-btn {
                background-color: #4ac263;
            }

            .caplaser-container-card-h3 {
                .title-bold {
                    &:before {
                        transform: rotate(-1.5deg);
                        background-color: #4ac263;
                    }
                }
            }

            &:hover.gestion {
                box-shadow: 0 19px 38px rgb(38 114 213 / 30%), 0 15px 12px rgb(74 194 99 / 22%);

                .caplaser-container-card-btn {
                    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
                }

                .caplaser-container-card-img {
                    img {
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                        transform: scale(1.2) !important;
                    }
                }
            }
        }

        .caplaser-container-card {
            color: #fff;
            background-color: #fff;
            border-bottom-right-radius: 40px;
            border: 1px solid #2672d5;
            padding: 20px 20px 60px;
            margin-top: 0 !important;
            position: relative;
            backface-visibility: hidden;
            transform: translateZ(0);
            -webkit-transition: all, ease, .3s;
            -moz-transition: all, ease, .3s;
            -ms-transition: all, ease, .3s;
            -o-transition: all, ease, .3s;
            transition: all, ease, .3s;
            width: 270px;
            min-height: 400px;
            margin-bottom: 30px;

            .caplaser-container-card-img {
                height: 180px;
                overflow: hidden;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                    transform: scale(1);
                    transition: all .5s ease;
                }
            }

            .caplaser-container-card-h3 {
                color: #2672d5;
                font-weight: 900;
                font-size: 28px;
                line-height: 45px;
                line-height: 35px;
                text-align: left;
                margin-bottom: 0;
                letter-spacing: -1px;
                font-size: 23px;
                text-transform: uppercase;
            }

            .caplaser-container-card-h4 {
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                color: #2672d5;
                text-align: left;

                border-top: 2px solid #2672d5;
                padding-top: 20px;
                margin-top: 20px;
            }

            .caplaser-container-card-btn {
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-align-content: center;
                -ms-flex-line-pack: center;
                align-content: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;

                margin-top: 20px;
                position: absolute;
                bottom: 25px;
                right: 25px;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                font-size: 0;
                text-decoration: none;
                transform: translateZ(0);
                -webkit-transition: all, ease, .2s;
                -moz-transition: all, ease, .2s;
                -ms-transition: all, ease, .2s;
                -o-transition: all, ease, .2s;
                transition: all, ease, .2s;

                img {
                    height: 15px;
                    width: 15px;
                }
            }
        }

        
    }


    .ApplicatifsMetiers {
        .caplaser-container-card{
            width: 100% !important;
            min-height: 510px !important;
        }
        grid-template-columns: repeat(auto-fill, 45%) !important;
    }